@-webkit-keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  margin: 0;
}
.riverBoard {
  margin: 35px;
  width: 80%;
  height: 80vh;
  position: relative;
  display: inline-block;
  border: 3px solid black;
}

.board {
  width: 100%;
  height: 80vh;
  display: inline-block;
}

.row {
  width: 100%;
  display: flex;
  height: 10%;
}

.square {

  width: 10%;
  height: 100%;
}

.square.grass,
.square.bear-grass {
  background: url("../images/Grass.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.river {
  background: url("../Images/Water-animation.gif");
}

.points {
  display: inline-block;
  flex-direction: column;
  width: 10%;
  margin-left: 20px;
  height: 30%;
}

.salmon {
  background: url(https://vignette.wikia.nocookie.net/minecraftpocketedition/images/c/ca/Clownfish.png/revision/latest?cb=20140826095943);
  background-size: cover;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  position: absolute;
  transition: all 0.5s linear;
  animation: shake 0.5s infinite;
}

.bear {
  background: url("../Images/Brown_Bear.png");
  background-size: cover;
  width: 40px;
  height: 40px;
}

.bearStart {
  width: 100%;
}

.startBear img {
  width: 100px;
  height: 100px;

}

.start {

  width: 120px;
  float: right;
  padding-right: 65px;
  padding-top: 60px;

}

.startButton {
  background-color: red;
  font-size: 20px;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

.reset {
  background-color: red;
  font-size: 20px;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

.counter {
  font-size: 30px;
  padding-left: 40px;

}

.bpoints {
  font-size: 30px;
  height: 100px;
  width: 100px;
  padding-top: 30px;
}

.gameover {
position: fixed;
margin-left: 320px;
margin-top: 190px;
background: white;
width: 40%;
height: 40vh;
top: 0;
left: 0;
border-radius: 15px;
border: 3px solid black;
display: flex;
align-items: center;
justify-content: center;
}



.salmonswin {
  position: fixed;
  margin-left: 320px;
  margin-top: 190px;
  background: rgb(249, 252, 249);
  width: 40%;
  height: 40vh;
  top: 0;
  left: 0;
  border-radius: 15px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.salmonswin img {
  height: 150px;
  width: 220px;
}

.hide {
  display: none;
  float: center;
}
